main {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;

  .card {
    text-align: center;
    width: fit-content;
    padding: 0 1rem;
    border: solid 1px;

    p,
    h2 {
      margin: 1rem;
    }
  }
}
